<nav class="navbar navbar-expand-lg navbar-dark " >
    
  
  

  
  <div class="collapse navbar-collapse " id="navbarSupportedContent"> 
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a   href="https://avery46.github.io/">Blog</a>
        
        
      </li>
      
      <li class="nav-item">
        <a   href="https://avery46.github.io/articles.html">Articles</a>
        
        
      </li>
         
     
       
    </ul>
    
    
  </div>
  



  

  


<div class="bt b--light-silver w-100"></div>
  <script>
    $(function() {
    
      $('#top').click(function() {
      
        $("html, body").animate({
          scrollTop:0
        },1000);
      })
    })

    $(window).scroll(function() {

      if ($(this).scrollTop()>200) {
      
        $('#top').fadeIn();
      }

      else {
        $('#top').fadeOut();
      }
    });
  </script>
  <div id="top" >  
     <i class="far fa-arrow-alt-circle-up"></i>
  </div>
  
